.about-container {
     background-color: #fdfdfd;

     .about-hero {
          padding: 10px 5% 40px;
          text-align: center;
          position: relative;

          h1 {
               color: var(--color-blue);
               font-size: clamp(2.5rem, 8vw, 4rem);
               font-weight: 800;
               margin-bottom: 1.5rem;
          }
     }

     .about-section {
          max-width: 1200px;
          margin: -60px auto 100px;
          padding: 0 20px;

          .about-grid {
               display: grid;
               grid-template-columns: 1.1fr 0.9fr;
               gap: 80px;
               align-items: center;
               padding: 20px 60px;
               border-radius: 50px;

               .image-box {
                    position: relative;

                    img {
                         width: 100%;
                         border-radius: 30px;
                         z-index: 2;
                         position: relative;
                         display: block;
                    }
               }

               .text-box {
                    h2 {
                         color: var(--color-blue);
                         font-size: 2.5rem;
                         margin-bottom: 40px; // Aumente o margin para dar espaço ao traço
                         position: relative;
                         display: inline-block; // Força o h2 a ocupar apenas o espaço do texto

                         &::after {
                              content: "";
                              display: block;
                              position: absolute;
                              bottom: -10px; // Reduzi de -30px para ficar visível logo abaixo
                              left: 0;
                              width: 60px;
                              height: 6px;
                              background-color: #FBD536 !important; // Teste com a cor fixa (hex)
                              z-index: 10; // Garante que está na frente de tudo
                         }
                    }

                    p {
                         color: var(--color-text-gray);
                         font-size: 1.1rem;
                         line-height: 1.8;
                    }
               }
          }
     }

}